

.numberCon{
    margin: 42px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.numberCon div h2{
    font-weight: 600;
}

.textCon{
    display: flex;
    flex-direction: column;
    align-items: center;
}


@media only screen and (max-width: 767px) {
  .numberCon{
    width: 100%;
  }

  .numberCon .textCon p{
    font-size: 12px;
  }
  .mobile-view{
    margin-top: 30px;
  }
}





