

.imgP{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-holder h1{
    margin-top: 30px;
    font-size: 50px;
}

.subTitle{
    text-align: center;
}
.textCon{
    margin-bottom: 50px;
}
.textCon h3{
    margin-top: 38px;
}

.imgConInvi{
    width: 500px;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
}
.divConInvi{
    width: 220px;
}
.bold{
    font-weight:600;
}

@media only screen and (max-width: 767px) {
    .title-holder h1{
        font-size: 30px;
        margin-top: 40px;
    }
    .imgConInvi{
        width: 320px;
        /* display: flex; */
        /* flex-direction: column; */
    }
    .divConInvi{
        width: 239px;
        margin-bottom: 40px;
    }

}