

.imgP{
    display: flex;
    justify-content: center;
    align-items: center;
}

.title-holder h1{
    margin-top: 30px;
    font-size: 50px;
}

.subTitle{
    text-align: center;
}

.divCon1 h3{
    margin-top: 38px;
}

.imgCon1{
    width: 380px;
    margin-bottom: 12px;
}
.SliderCOn{
    width: 476px;
}
.divCon1{
    width: 380px;
}
.bold{
    font-weight:600;
}

@media only screen and (max-width: 767px) {
    .SliderCOn{
        width: 416px;
    }
    .title-holder h1{
        font-size: 30px;
        margin-top: 40px;
    }
    .imgCon1{
        width: 320px;
    }
    .divCon1{
        width: 320px;
        margin-bottom: 40px;
    }
}